/* Top Menu */

.page_min
	{
		min-height:800px;
		padding-top: 80px;
	}
/* @group Load In */
body {
	background: none center/cover no-repeat;
	opacity: 1 !important;
	transition: 0s;
	overflow: hidden;
	overflow-y: scroll;	
}

.backgr {
	background: url('../img/back00.jpg') center;
}
.back01 {
	background: url('../img/back01.jpg');
}
.back02 {
	background: url('../img/back02.jpg');
}
.back03 {
	background: url('../img/back03.jpg');
}
.orange {
	background-color: #FF8258;
}
.lt20 {
	font-size: 20px;
}
table {
	font-family: 'EBGaramondRegular', 'Tahoma', 'Arial';
	font-size: 17px;
	color: #303030;
	line-height: 140%;
}



#triangulo01 {
	background-image: url("../img/triangulos_01.png");
	width: 100%;
	height: 900px;
	position: absolute;
}
.page-loaded > body {
	opacity: 1 !important;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	transition: .7s ease-out;
}
/* @end */
/* @group Font Face */
@font-face {
	font-family: 'proximasansregularregular';
	src: url('font/proximasansregular-webfont.eot');
	src: url('font/proximasansregular-webfont.eot?#iefix') format('embedded-opentype'), url('font/proximasansregular-webfont.woff') format('woff'), url('font/proximasansregular-webfont.ttf') format('truetype'), url('font/proximasansregular-webfont.svg#proximasansregularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'EBGaramondRegular';
	src: url('font/EBGaramond-webfont.eot');
	src: url('font/EBGaramond-webfont.eot?#iefix') format('embedded-opentype'), url('font/EBGaramond-webfont.woff') format('woff'), url('font/EBGaramond-webfont.ttf') format('truetype'), url('font/EBGaramond-webfont.svg#EBGaramondRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('http://thecharlesnyc.com/font/fontawesome-webfont.eot?v=3.0.1');
	src: url('http://thecharlesnyc.com/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('http://thecharlesnyc.com/font/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('http://thecharlesnyc.com/font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* @end */
/* @group Body */
html, body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: "FontAwesome", serif;
	color: #242424;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body.work-actived, body.work-actived .wrapper {
	/*overflow: hidden;*/
}
body.scroll-point:before {
	opacity: 0;
}
.wf-loading {
	overflow: hidden;
}
.wrapper {
	display: block;
	height: 100%;
}
body.work-actived-mobile .wrapper {
	/*overflow: hidden;*/
}
/* @end */
/* @group Global */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

.back-arrow > div {
	display: block !important;
	width: 7px;
	height: 2px;
	background: #fff;
	margin-bottom: 2px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	-webkit-transform: rotate(-45deg) translateY(0);
	-moz-transform: rotate(-45deg) translateY(0);
	transform: rotate(-45deg) translateY(0);
	opacity: 1;
}
/* @end */
/* @group Hamburger */
.barra {
	width: 25px;
	height: 4px;
	background: #FFF;
	margin-bottom: 4px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	-webkit-transform: rotate(0deg) translateY(0);
	-moz-transform: rotate(0deg) translateY(0);
	transform: rotate(0deg) translateY(0);
	opacity: 1;
}
.barra_first {
	-webkit-transform: rotate(45deg) translate(2px, 3px);
	-moz-transform: rotate(45deg) translate(2px, 3px);
	transform: rotate(45deg) translate(2px, 3px);
}
.barra_middle {
	display: none;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}

.menu_lateral {
	background-color: #2D332D;
}
.menu_left {
	opacity: 0;
	display: none;
	/* top: -500px; */
	width: 260px;
	height: 306px;
	top: 50px;
	left: 20px;
	position: fixed;
	z-index: 200;
	border: 1px solid #2D332D;
}
.barra_last {
	-webkit-transform: rotate(-45deg) translate(2px, -4px);
	-moz-transform: rotate(-45deg) translate(2px, -4px);
	transform: rotate(-45deg) translate(2px, -4px);
}
.y-out {
	font-family: "Arial", serif;
	color: #E0EFE0;
	background-color: #2D332D;
	font-weight: normal;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a.y-out {
	font-family: "Arial", serif;
	color: #E0EFE0;
	font-size: 18px;
}
a.y-out:hover {
	background-color: #FFFFFF;
	color: #FFFFFF;
	font-size: 18px;
}
#hamburger-helper {
	width: 20px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
#hamburger-helper .hamburger {
}
#hamburger-helper .hamburger:hover {
	opacity: 0.6;
	transition: 0.5s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}

#hamburger-helper .hamburger {
	/* display: block; */
	width: 25px;
	height: 4px;
	background: #FFF;
	margin-bottom: 4px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	-webkit-transform: rotate(0deg) translateY(0);
	-moz-transform: rotate(0deg) translateY(0);
	transform: rotate(0deg) translateY(0);
	opacity: 1;
}

#hamburger-helper .hamburger_x {
	div: first-child
	{
	-webkit-transform: rotate(45deg) translate(2px, 3px);
	-moz-transform: rotate(45deg) translate(2px, 3px);
	transform: rotate(45deg) translate(2px, 3px);
}
}

.active #hamburger-helper .hamburger > div:first-child {
	-webkit-transform: rotate(45deg) translate(2px, 3px);
	-moz-transform: rotate(45deg) translate(2px, 3px);
	transform: rotate(45deg) translate(2px, 3px);
}
.active #hamburger-helper .hamburger > div:nth-child(2) {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	opacity: 0;
}
.active #hamburger-helper .hamburger > div:last-child {
	-webkit-transform: rotate(-45deg) translate(2px, -4px);
	-moz-transform: rotate(-45deg) translate(2px, -4px);
	transform: rotate(-45deg) translate(2px, -4px);
}
/* @end */

/* @end */
/* @group Header Update */
@media (min-width: 767px) {
}
/* @end */

/* @end */
